<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>IPI - Cours de Java 330 - Thymeleaf</title>
    
    <meta name="description" content="" />
    <meta name="author" content="Pierre-Julien VILLOUD" />


    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/idea.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />

    
</head>

<body class="impress-not-supported">

<div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="my-navbar">
  <a class="navbar-brand" href="index.html">
    <img src="img/ipi.jpg" width="30" height="30" alt=""> Cours Java Thymeleaf
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills mr-auto">
      
    </ul>
    <span class="navbar-text">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary" href="https://github.com/pjvilloud/ipi-java-330-th-ex" target="_blank"><i class="fa fa-icon fa-gamepad"></i></a>
            &nbsp;
            <a class="btn btn-primary" href="mailto:pjvilloud@protonmail.com"><i class="fa fa-icon fa-envelope"></i></a>
            &nbsp;
            <a class="btn btn-primary" href="https://github.com/pjvilloud" target="_blank"><i class="fa fa-icon fa-github"></i></a>
            &nbsp;
            <a class="btn btn-primary" href="https://linkedin.com/pjvilloud" target="_blank"><i class="fa fa-icon fa-linkedin"></i></a>&nbsp;
            <a class="btn btn-primary" href="#" id="numSlide">1</a>
        </div>
    </span>
  </div>
</nav>
<div class="progress">
  <div id="progress" class="progress-bar" style="width: 0%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="container-fluid" id="impress">

    <div id="accueil" class="step slide" data-rel-x="0" data-y=0>
        <div class="jumbotron jumbotron-fluid">
          <div class="container text-center">
            <h1 class="display-3">Bienvenue !</h1>
            <p class="lead">
                <h2>Pierre-Julien VILLOUD</h2>
                <div class="big-top-margin">
                    <img src="img/pjvilloud.jpg" class="img-bienvenue rounded mx-auto d-block" alt="Pierre-Julien VILLOUD">
                </div>
                <div class="big-top-margin">
                    <h3><i class="fa fa-icon fa-envelope-square"></i>&nbsp;<a href="mailto:pjvilloud@protonmail.com">pjvilloud@protonmail.com</a></h3>
                    <h3><i class="fa fa-icon fa-github-square"></i>&nbsp;<a href="https://github.com/pjvilloud" target="_blank">https://github.com/pjvilloud</a></h3>
                    <h3><i class="fa fa-icon fa-linkedin-square"></i>&nbsp;<a href="https://linkedin.com/pjvilloud" target="_blank">https://linkedin.com/pjvilloud</a></h3>
                    <h3><i class="fa fa-icon fa-globe"></i>&nbsp;<a href="https://pjvilloud.github.io" target="_blank">https://pjvilloud.github.io</a></h3>
                </div>
            </p>
          </div>
        </div>
    </div>

    <div id="introduction" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Introduction</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Nous avons vu dans le cours précédent comment générer dynamiquement des pages HTML avec les servlets. Pour l'instant nous avons géré la partie HTML dans le contrôleur. Afin de mieux coller aux principes du <em>MVC</em>, nous allons voir la technologie Thymeleaf.
            </div>
          </div>
          <div class="container small-font big-top-margin">
            <img src="img/thymeleaf.png" width="1100">
          </div>
          <div class="container-fluid big-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;<strong>Thymeleaf</strong> est un moteur de template Java permettant le développement d'applications web générées côté serveur.
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="spring" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Utilisation avec Spring</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;On peut utiliser les contrôleurs de Spring avec les templates Thymeleaf.
            </div>
          </div>
          <div class="container-fluid text-left small-font big-top-margin">
            <div class="row">
              <div class="col-6">
                <code>IndexController.java</code>
                <pre><code class="java">@Controller
public class IndexController {

    @GetMapping(value = "/")
    public String index(final ModelMap model) {
        model.put("nom", "IPI");
        return "index";
    }

}</code></pre>
              </div> 
              <div class="col-6">
                <code>index.html</code>
                <pre><code class="html">&lt;html lang="en" xmlns:th="http://www.thymeleaf.org"&gt;
  &lt;head&gt;
      &lt;title&gt;Thymeleaf&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;h1&gt;Hello &lt;span th:text="${nom}"&gt;&lt;/span&gt; !&lt;/h1&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre></div> 
            </div>
          </div>
          <div class="container-fluid big-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;On garde le principe de mapping d'url de Spring, on précise simplement le template Thymeleaf utilisé en retour de la fonction, ici <code>index</code>. Lorsqu'on accède à la page <code>localhost:8080</code> cela affiche <code>Hello IPI !</code>.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="affichage" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Affichage</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Maintenant que nous savons comment passer des objets du contrôleur à la vue, voyons les syntaxes à notre disposition pour manipuler et afficher ces objets côté vue.
            </div>
          </div>
          <div class="container small-font big-top-margin">
            <ul class="list-group">
              <li class="list-group-item">Affichage dans une balise HTML</li>
              <li class="list-group-item">Affichage <em>inline</em></li>
              <li class="list-group-item">Attributs HTML</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div id="affichage-html" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Balise HTML</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il est possible d'utiliser n'importe quelle balise HTML à laquelle nous ajoutons un attribut <code>th:text</code> ou <code>data-th-text</code>qui sera interprété par Thymeleaf. <br> La valeur est alors interprétée puis injectée à l'intérieur de la balise.
            </div>
          </div>
          <div class="container-fluid text-left small-font">
            <div class="row">
              <div class="col-6">
                <pre><code class="java">@Controller
public class IndexController {

    @GetMapping(value = "/")
    public String index(final ModelMap model) {
        model.put("nom", "IPI");
        model.put("htmlText", "How are &lt;strong&gt;you&lt;/strong&gt; ?");
        model.put("otherText", "Have a nice day !");
        return "index";
    }

}</code></pre>
              </div> 
              <div class="col-6">
                <pre><code class="html">&lt;html lang="en" <span data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Cet ajout permet aux IDE de ne pas se plaindre lorsqu'on utilise les attributs HTML <code>th:*</code>"data-html="true">xmlns:th="http://www.thymeleaf.org"</span>&gt;
  &lt;head&gt;
      &lt;title&gt;Thymeleaf&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;h1&gt;Hello &lt;span th:text="<span data-toggle="popover" data-trigger="hover" data-placement="top" data-content="La notation <code>${x}</code> retourne la variable <em>x</em> préalablement stockée dans le contexte Thymeleaf. D'autres syntaxes seront abordées plus tard. A noter que World ne sera affiché que si la page est affichée statiquement." data-html="true">${nom}"</span>&gt;World&lt;/span&gt; !&lt;/h1&gt;
  &lt;p <span data-toggle="popover" data-trigger="hover" data-placement="left" data-content="<code>th-utext</code> permet d'éviter d'échapper les caractères HTML et permet donc d'afficher le texte <strong>you</strong> en gras au lieu d'afficher &lt;strong&gt;you&lt;/strong&gt;" data-html="true">th:utext="${htmlText}"</span>&gt;&lt;/p&gt;
  &lt;p <span data-toggle="popover" data-trigger="hover" data-placement="right" data-content="<code>data-th-*</code> est une alternative à th:* permettant de passer la validation HTML5. Il est recommandé d'utiliser la notation <code>th:*</code> plus concise et qui fonctionne même dans les autres mode de template de Thymeleaf" data-html="true">data-th-text="${otherText}"</span>&gt;&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
              </div> 
            </div>
          </div>
          <div class="container-fluid little-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;L'intérêt de Thymeleaf par rapport à d'autres moteurs de templates est que le fichier reste du simple HTML affichable statiquement dans un navigateur. Cela permet de réduire le temps de passage d'une page en pur HTML à un template Thymeleaf (<em>Natural Templating</em>).
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="affichage-inline" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Affichage <em>Inline</em></h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;L'ajout obligatoire d'une balise supplémentaire pouvant être vue comme un problème (même si l'utilisation de balises comme <code>span</code> permet un affichage neutre), il est possible d'utiliser une notation <em>inline</em> à l'aide de la syntaxe <code>[[...]]</code> équivalente de <code>th:text</code> et <code>[(...)]</code> équivalente de <code>th:utext</code>.
            </div>
          </div>
          <div class="container-fluid text-left small-font">
            <div class="row">
              <div class="col-6">
                <pre><code class="java">@Controller
public class IndexController {

    @GetMapping(value = "/")
    public String index(final ModelMap model) {
        model.put("nom", "IPI");
        model.put("htmlText", "How are &lt;strong&gt;you&lt;/strong&gt; ?");
        return "index";
    }

}</code></pre>
              </div> 
              <div class="col-6">
                <pre><code class="html">&lt;html lang="en" xmlns:th="http://www.thymeleaf.org"&gt;
  &lt;head&gt;
      &lt;title&gt;Thymeleaf&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;h1&gt;Hello [[${nom}]] !&lt;/h1&gt;
  &lt;p&gt;[(${htmlText})]&lt;/p&gt;
  &lt;p th:inline="none"&gt;[[crochets]] non interprétés!&lt;/p&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
              </div> 
            </div>
          </div>
          <div class="container-fluid little-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Cette notation est pratique mais ne permet pas le <em>Natural Templating</em> et complexifie l'affichage statique.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="affichage-attributsHTML" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Attributs HTML</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il est également possible d'injecter dans un attribut HTML une valeur interprétée par Thymeleaf.
            </div>
          </div>
          <div class="container-fluid text-left small-font little-top-margin">
            <div class="row">
              <div class="col-6">
                <pre><code class="java">@Controller
public class IndexController {

    @GetMapping(value = "/")
    public String index(final ModelMap model) {
        model.put("message", "Hello");
        model.put("nom", "IPI");
        model.put("htmlText", "How are &lt;strong&gt;you&lt;/strong&gt; ?");
        return "index";
    }

}</code></pre>
              </div> 
              <div class="col-6">
                <pre><code class="html">&lt;html lang="en" xmlns:th="http://www.thymeleaf.org"&gt;
  &lt;head&gt;
      &lt;title&gt;Thymeleaf&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;
  &lt;input value="Hi" th:attr="value=${message}" /&gt;
  &lt;input value="World" th:value="${nom}" /&gt;
  &lt;input th:attr="placeholder=${nom},value=${nom}" /&gt;
  &lt;a th:href="@{/sayHello(nom=${nom})}">Lien 1&lt;/a&gt;
  &lt;!-- g&eacute;n&eacute;rera le lien vers /sayHello?nom=IPI--&gt;
  &lt;a th:href="@{/sayHello2/{message}}">Lien 2&lt;/a&gt;
  &lt;!-- g&eacute;n&eacute;rera le lien vers /sayHello2/Hello--&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
              </div> 
            </div>
          </div>
          <div class="container-fluid little-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Tous les attributs standards HTML5 ont leur équivalent <code>th:*</code>. On peut également utiliser n'importe quel attribut non standard avec <code>th:*</code>.<br> Utiliser <code>&lt;span th:toto="${nom}"&gt;&lt;/&gt;</code> sera interprété <code>&lt;span toto="IPI"&gt;&lt;/&gt;</code>. Noter l'utilisation de <code>@{}</code> pour la gestion des URLs.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="expressions" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Expressions et objets</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Voyons les différentes syntaxes des expressions standards Thymeleaf qui vont nous permettre de développer des templates aboutis, ainsi que les différents objets à notre disposition à l'intérieur des templates.
            </div>
          </div>
          <div class="container small-font">
            <ul class="list-group">
              <li class="list-group-item">Objets <code>Web Context</code></li>
              <li class="list-group-item">Objets <em>utilitaires</em></li>
              <li class="list-group-item">Expressions simples et litérales</li>
              <li class="list-group-item">Opérations, comparaisons et conditions</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <div id="expressions-objetsweb" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Objets <code>Web context</code></h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il est possible d'accéder aux objets de contexte web <code>HttpServletRequest</code>, la <code>HttpSession</code> et la <code>ServletContext</code> respectivement par <code>#request</code>, <code>#session</code> et <code>#servletContext</code>. Les objets <code>param</code>, <code>session</code> et <code>application</code> sont des raccourcis permettant d'accéder aux attributs ou paramètres.
            </div>
          </div>
          <div class="container-fluid text-left small-font little-top-margin">
            <div class="row">
              <div class="col-6">
                <pre><code class="java">@Controller
public class IndexController {

  @Autowired
  ServletContext context;

  @GetMapping(value = "/say")
  public String index(final ModelMap m, 
    HttpSession s, HttpServletRequest r) {
    m.put("foo", "Hello");
    s.setAttribute("bar", "World");
    context.setAttribute("foobar", "IPI");
    //ou
    r.getServletContext().setAttribute("foobar", "IPI");
    return "index";
  }
}</code></pre>
              </div> 
              <div class="col-6">
                <code class="no-margin">localhost:8080/say?msg=Hey</code>
                <pre><code class="html">&lt;span th:text=&quot;${#request.getAttribute(&#039;foo&#039;)}&quot;&gt;Hello&lt;/span&gt;

&lt;span th:text=&quot;${#request.getParameter(&#039;msg&#039;)}&quot;&gt;Hey&lt;/span&gt;
&lt;span th:text=&quot;${param.msg}&quot;&gt;Hey&lt;/span&gt;
&lt;span th:text=&quot;${param.msg[0]}&quot;&gt;Hey&lt;/span&gt;

&lt;span th:text=&quot;${#request.getRequestURI()}&quot;&gt;say&lt;/span&gt;

&lt;span th:text=&quot;${#session.getAttribute(&#039;bar&#039;)}&quot;&gt;World&lt;/span&gt;
&lt;span th:text=&quot;${session.bar}&quot;&gt;World&lt;/span&gt;
&lt;span th:text=&quot;${#session.id}&quot;&gt;BA7CD710FE9610F1CEF5174DFB3C04AE&lt;/span&gt;

&lt;span th:text=&quot;${#servletContext.getAttribute(&#039;foobar&#039;)}&quot;&gt;IPI&lt;/span&gt;
&lt;span th:text=&quot;${application.foobar}&quot;&gt;IPI&lt;/span&gt;
&lt;span th:text=&quot;${#servletContext.getServerInfo()}&quot;&gt;Tomcat/9.0.36&lt;/span&gt;

</code></pre>
              </div> 
            </div>
          </div>
          <div class="container-fluid little-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il existe aussi <code>#ctx</code>, <code>#vars</code>, <code>#locale</code>, <code>#response</code>... L'ensemble des objets disponibles sont décrits dans la documentation de <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#appendix-a-expression-basic-objects" target="_blank">Thymeleaf</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="expressions-objetsutil" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Objets <em>utilitaires</em></h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;D'autres objets sont disponibles permettant d'effectuer divers traitements. Notamment <code>#messages</code>, <code>#temporals</code>, <code>#strings</code>, <code>#numbers</code> ou <code>#lists</code>
            </div>
          </div>
          <div class="container-fluid text-left small-font little-top-margin">
            <div class="row">
              <div class="col-4">
                <pre><code class="properties">#application.properties
message.hello=Hello
message.hello2=Hi</code></pre>
                <pre><code class="java">@Controller
public class IndexController {
  @GetMapping(value = "/say")
  public String index(final ModelMap m) {
    m.put("now", LocalDate.now());
    m.put("codePostal", 7600);
    m.put("prix", 1500);
    m.put("reduction", 0.1012);
    m.put("liste", Arrays.asList(5,3,9,6));
    return "index";
  }
}</code></pre>
              </div> 
              <div class="col-8">
                <code class="no-margin">localhost:8080/say?name=World</code>
                <pre><code class="html">&lt;span th:text=&quot;${#messages.msg('message.hello')}&quot;&gt;Hello&lt;/span&gt;
&lt;span th:text=&quot;${#messages.msg('message.hello2', param.name)}&quot;&gt;Hello&lt;/span&gt;

&lt;span th:text=&quot;${#temporals.format(now, 'dd/MM/YYYY')}&quot;&gt;<span id="nowFormatted"></span>&lt;/span&gt;

&lt;span th:text=&quot;${#strings.defaultString(notDefined,'Non renseigné')}&quot;&gt;Non renseigné&lt;/span&gt;
&lt;span th:text=&quot;${#strings.containsIgnoreCase(param.name,'or')}&quot;&gt;true&lt;/span&gt;
&lt;span th:text=&quot;${#strings.toUpperCase(param.name)}&quot;&gt;WORLD&lt;/span&gt;

&lt;span th:text=&quot;${#numbers.formatInteger(codePostal,5)}&quot;&gt;07600&lt;/span&gt;
&lt;span th:utext=&quot;${#numbers.formatCurrency(prix)}&quot;&gt;1 500,00 €&lt;/span&gt;
&lt;span th:utext=&quot;${#numbers.formatPercent(reduction, 1, 0)}&quot;&gt;10 %&lt;/span&gt;

&lt;span th:utext=&quot;${#lists.size(liste)}&quot;&gt;4&lt;/span&gt;
&lt;span th:utext=&quot;${#lists.sort(liste)}&quot;&gt;[3, 5, 6, 9]&lt;/span&gt;
</code></pre>
              </div> 
            </div>
          </div>
          <div class="container-fluid">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il existe aussi <code>#calendars</code>, <code>#objects</code>, <code>#bools</code>, <code>#arrays</code>... L'ensemble des objets disponibles sont décrits dans la documentation de <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#appendix-a-expression-basic-objects" target="_blank">Thymeleaf</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="expressions-simplesliterales" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Expressions simples et litérales</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il est possible d'utiliser du texte, des nombres, des booléens ou encore <code>null</code> dans les expressions Thymeleaf.
            </div>
          </div>
          <div class="container text-left small-font big-top-margin">
            <code class="no-margin">localhost:8080/say?name=World</code>
            <pre><code class="html">&lt;span th:text=&quot;'Hello ' + ${param.name}&quot;&gt;Hello World&lt;/span&gt;
&lt;span th:text=&quot;|Hello ${param.name}|&quot;&gt;Hello World&lt;/span&gt;
&lt;span th:text=&quot;25 * 2&quot;&gt;50&lt;/span&gt;
&lt;span th:text=&quot;false == true&quot;&gt;false&lt;/span&gt;
&lt;span th:text=&quot;${param.message} == null&quot;&gt;true&lt;/span&gt;</code></pre>
          </div>
          <div class="container-fluid big-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Toutes les expressions litérales sont décrites dans la documentation de <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#literals" target="_blank">Thymeleaf</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="expressions-operations" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Opérations, comparaisons et conditions</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il est possible d'effectuer des opérations arithmétiques à l'intérieur d'une expression (<code>+, -, *, /, %</code>), effectuer des comparaisons ou afficher une valeur de manière conditionnelle.
            </div>
          </div>
          <div class="container-fluid text-left small-font big-top-margin">
            <div class="row">
              <div class="col-4">
                <pre><code class="java">@Controller
public class IndexController {
  @GetMapping(value = "/")
  public String index(final ModelMap m) {
    m.put("montant", 100.0);
    m.put("tva", 20);
    return "index";
  }
}</code></pre>
              </div> 
              <div class="col-8">
                <pre><code class="html">&lt;span th:text=&quot;${montant} * (100 + ${tva}) / 100&quot;&gt;120&lt;/span&gt;
&lt;span th:text=&quot;${montant} % 3&quot;&gt;1&lt;/span&gt;
&lt;span th:text=&quot;${montant} - 10&quot;&gt;90&lt;/span&gt;
&lt;span th:text=&quot;${tva} &amp;gt; 10&quot;&gt;true&lt;/span&gt;
&lt;span th:text=&quot;${montant} &amp;lt; 150&quot;&gt;true&lt;/span&gt;
&lt;span th:text=&quot;${tva} == null ? 'HT'&quot;&gt;HT&lt;/span&gt;
&lt;span th:text=&quot;${tva} == 20 ? 'TTC' : 'HT'&quot;&gt;TTC&lt;/span&gt;
&lt;span th:text=&quot;${montant} ?: 'Montant non renseigné'&quot;&gt;Montant non renseigné&lt;/span&gt;
&lt;span th:text=&quot;${montant} ?: _&quot;&gt;Montant non renseigné&lt;/span&gt;</code></pre>
              </div>
            </div>
          </div>
          <div class="container-fluid big-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Toutes les opérations sont décrites dans la documentation de <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#arithmetic-operations" target="_blank">Thymeleaf</a>, les comparaisons et conditions sont décrites dans les sections suivantes.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="iffor" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Conditions et itérations</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il est possible d'afficher un fragment HTML en fonction d'une condition ou de le répéter plusieurs fois. 
            </div>
          </div>
          <div class="container small-font big-top-margin">
            <ul class="list-group">
              <li class="list-group-item">Conditions</li>
              <li class="list-group-item">Itérations</li>
            </ul>
          </div>
          <div class="container-fluid big-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Voyons comment utiliser ces éléments avec Thymeleaf
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="iffor-if" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Conditions</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il est souvent nécessaire d'afficher des éléments HTML seulement lorsqu'une condition est satisfaite, ou de faire varier l'affichage en fonction des cas. Thymeleaf propose les attributs <code>th:if</code>, <code>th:unless</code> et <code>th:switch</code>.
            </div>
          </div>
          <div class="container-fluid text-left small-font">
            <div class="row">
              <div class="col-5">
                <pre><code class="java">@Controller
public class IndexController {
  @GetMapping(value = "/")
  public String index(final ModelMap m) {
    m.put("idProduit", 4);
    m.put("typeProduit", "book");
    m.put("items", Arrays.asList("Item 1", "Item 2"));
    return "index";
  }
}</code></pre>
              </div> 
              <div class="col-7">
                <pre><code class="html">&lt;a href=&quot;/saveExisting&quot; th:if=&quot;${idProduit} != null&quot;&gt;Enregistrer&lt;/a&gt;
&lt;a href=&quot;/saveNew&quot; th:unless=&quot;${idProduit}&quot;&gt;Cr&eacute;er&lt;/a&gt;
&lt;a href=&quot;/details&quot; th:if=&quot;${not #lists.isEmpty(items)}&quot;&gt;Voir le d&eacute;tail&lt;/a&gt;

&lt;div th:switch=&quot;${typeProduit}&quot;&gt;
  &lt;span th:case=&quot;book&quot;&gt;Livre&lt;/span&gt;
  &lt;span th:case=&quot;dvd&quot;&gt;DVD&lt;/span&gt;
  &lt;span th:case=&quot;*&quot;&gt;Autre&lt;/span&gt;
&lt;/div&gt;
&lt;!-- Produira l&#039;affichage suivant --&gt;
&lt;a href=&quot;/saveExisting&quot;&gt;Enregistrer&lt;/a&gt;
&lt;a href=&quot;/details&quot;&gt;Voir le d&eacute;tail&lt;/a&gt;
&lt;div&gt;
  &lt;span&gt;Livre&lt;/span&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
          <div class="container-fluid little-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;A noter qu'il n'y a pas de notion de <code>else</code> au niveau du <code>th:if</code>.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="iffor-for" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Itérations</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Voyons comment répéter plusieurs fois un fragment HTML grâce à <code>th:each</code>
            </div>
          </div>
          <div class="container-fluid text-left small-font">
            <div class="row">
              <div class="col-6">
                <pre><code class="java">@Controller
public class IndexController {
  @GetMapping(value = "/")
  public String index(final ModelMap m) {
    String[] typesProduits = new String[{"DVD", "Livre", "Autre"}];
    m.put("typesProduit", typesProduits);
    m.put("items", Arrays.asList("Item 1", "Item 2", "Item 3"));
    return "index";
  }
}</code></pre>
              </div> 
              <div class="col-6">
                <pre><code class="html">&lt;ul th:each=&quot;item : ${items}&quot;&gt;
  &lt;li th:text=&quot;item&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;div th:each=&quot;typeP : ${typesProduit}&quot;&gt;
  &lt;a th:href=&quot;@{/typesProduits(type=${typeP})&quot;&gt;${typeP}&lt;/a&gt;
&lt;/div&gt;
&lt;!-- Produira l&#039;affichage suivant --&gt;
&lt;ul&gt;
  &lt;li&gt;Item 1&lt;/li&gt;
  &lt;li&gt;Item 2&lt;/li&gt;
  &lt;li&gt;Item 3&lt;/li&gt;
&lt;/ul&gt;
&lt;div&gt;
  &lt;a href=&quot;/typesProduits?type=DVD&quot;&gt;DVD&lt;/a&gt;
  &lt;a href=&quot;/typesProduits?type=Livre&quot;&gt;Livre&lt;/a&gt;
  &lt;a href=&quot;/typesProduits?type=Autre&quot;&gt;Autre&lt;/a&gt;
&lt;/div&gt;</code></pre>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;<code>th:each</code> fonctionne avec les <code>java.util.List</code> mais également n'importe quel objet implémentant <code>java.util.Iterable</code>, <code>java.util.Enumeration</code> ou <code>java.util.Map</code> ainsi qu'avec les tableaux primitifs.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fragments" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Les fragments</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Lorsque l'on souhaite réutiliser des portions d'HTML dans une application (pour définir un menu, un footer par exemple), il est possible avec Thymeleaf, de définir puis d'inclure des <em>fragments</em> d'HTML dans un template.
            </div>
          </div>
          <div class="container small-font big-top-margin">
            <ul class="list-group">
              <li class="list-group-item">Inclusion</li>
              <li class="list-group-item">Fragments paramétrés</li>
              <li class="list-group-item">Autres fonctionnalités</li>
            </ul>
          </div>
          <div class="container-fluid big-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Voyons comment définir et inclure ces fragments, et comment il est possible de les paramétrer pour les rendre plus dynamiques.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fragments-inclusion" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Inclusion de fragments</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Pour définir un fragment, il suffit de créer un template HTML, puis de définir une ou plusieurs balises en utilisant l'attribut Thymeleaf <code>th:fragment</code>. On peut alors inclure le fragment dans un template en utilisant l'attribut <code>th:insert</code> ou <code>th:replace</code>.
            </div>
          </div>
          <div class="container-fluid text-left small-font negative-top-margin">
            <div class="row">
              <div class="col-6">
                <pre>
                  <code class="html">&lt;!-- Template common.html --&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
  &lt;body&gt;
    &lt;div class=&quot;nav-div&quot; th:fragment=&quot;menu&quot;&gt;
      &lt;ul class=&quot;nav&quot;&gt;
        &lt;li class=&quot;nav-item&quot;&gt;
          &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;Accueil&lt;/a&gt;
        &lt;/li&gt;
        ...
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div th:fragment=&quot;tab&quot;&gt;...&lt;/div&gt;
    &lt;div class=&quot;footer&quot; th:fragment=&quot;footer&quot;&gt;
      &amp;copy; Copyright 2020 Tous droits r&eacute;serv&eacute;s
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
              </div>
              <div class="col-6">
                <pre>
                  <code class="html">&lt;!-- Autre template --&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
  &lt;body&gt;
    &lt;div class=&quot;container&quot;<span data-toggle="popover" data-trigger="hover" data-placement="left" data-title="th:insert" data-html="true" data-content="Insert le fragment à l'intérieur du tag sur lequel l'attribut <code>th-insert</code> a été défini.">th:insert</span>=&quot;<span data-toggle="popover" data-trigger="hover" data-title="" data-placement="top" data-title="Nom du template" data-html="true" data-content="Nom complet avec le chemin relatif à la racine des templates (dossier <code>src/main/resources/templates</code> avec Spring Boot">common</span> :: <span data-toggle="popover" data-trigger="hover" data-placement="right" data-title="Sélecteur" data-content="Cela peut être soit le nom du fragment, soit un sélecteur de syntaxe analogue à un sélecteur CSS : <code>#identififant</code> ou <code>.ma-classe</code> par exemple" data-html="true">menu</span>"&gt;&lt;/div&gt;
    ...
    &lt;div class="container" <span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="th:replace" data-html="true" data-content="Insert le fragment en remplaçant le tag sur lequel l'attribut <code>th-insert</code> a été défini par le contenu du fragment.">th:replace</span>=&quot;common :: footer&quot;&gt;&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
&lt;!-- Donnera --&gt;
&lt;html&gt;
&lt;body&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;nav-div&quot;&gt;
      &lt;ul class=&quot;nav&quot;&gt;...&lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  ...
  &lt;div class=&quot;footer&quot;&gt;&amp;copy; Copyright 2020 Tous droits r&eacute;serv&eacute;s&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
              </div>
            </div>
          </div>
          <div class="container-fluid negative-top-margin">
            <div class="alert alert-warning small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Il existe aussi <code>th:include</code> mais qui est déprécié depuis la version 3.0 de Thymleaf.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fragments-parametres" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Fragments paramétrés</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Lorsque l'on souhaite rendre dynamique le contenu d'un fragment, on peut définir des paramètres sur le fragment.
            </div>
          </div>
          <div class="container-fluid text-left small-font negative-top-margin">
            <div class="row">
              <div class="col-6">
                <pre>
                  <code class="html">&lt;!-- Template common.html --&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
&lt;body&gt;
  &lt;div th:fragment=&quot;menu<span data-toggle="popover" data-trigger="hover" data-placement="right" data-title="Paramètres" data-content="On définit ici deux paramètres <code>title</code> et <code>elements</code> auxquels on fait référence dans la suite du fragment. Il faudra renseigner des valeurs à ces paramètres lors de l'insertion du fragment." data-html="true">(title, elements)</span>&quot;&gt;
    &lt;h3 th:text=&quot;${title}&quot;&gt;&lt;/h3&gt;
    &lt;ul th:each="elem : ${elements}" class=&quot;nav&quot;&gt;
      &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;${elem}&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre><pre class="negative-top-margin">
              <code class="java">@Controller
public class IndexController {
  @GetMapping(value = "/")
  public String index(final ModelMap m) {
    m.put("listElem", Arrays.asList("Accueil", "A propos"));
    return "index";
  }
}</code></pre>
              </div>
              <div class="col-6">
                <pre>
                  <code class="html">&lt;!-- Autre template --&gt;
&lt;html xmlns:th=&quot;http://www.thymeleaf.org&quot;&gt;
  &lt;body&gt;
    &lt;div th:insert=&quot;common :: menu<span data-toggle="popover" data-trigger="hover" data-placement="bottom" data-title="Inclusion du fragment paramétrés" data-content="On fournit une valeur pour les paramètres soit <em>en dur</em> soit à partir d'une variable." data-html="true">(${listElem}, 'Menu')</span>"&gt;&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
&lt;!-- Donnera --&gt;
&lt;html&gt;
&lt;body&gt;
  &lt;div&gt;
    &lt;h3&gt;Menu&lt;/h3&gt;
    &lt;div class=&quot;nav-div&quot;&gt;
      &lt;ul class=&quot;nav&quot;&gt;
        &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;Accueil&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;nav-item&quot;&gt;&lt;a href=&quot;#&quot;&gt;A propos&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;</code>
                </pre>
              </div>
            </div>
          </div>
          <div class="container-fluid negative-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Lorsqu'on insère un fragment paramétré, il suffit de spécifier les paramètres.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fragments-autres" class="step slide">
      <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
          <h1 class="display-3">Autres fonctionnalités</h1>
          <div class="container-fluid">
            <div class="alert alert-primary small-font" role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;D'autres fonctionnalités sont disponibles dans l'utilisation de template
            </div>
          </div>
          <div class="container small-font big-top-margin">
            <ul class="list-group">
              <li class="list-group-item"><em>Flexible Layouts</em></li>
              <li class="list-group-item">Suppression de fragments</li>
              <li class="list-group-item">Héritage de fragments</li>
            </ul>
          </div>
          <div class="container-fluid big-top-margin">
            <div class="alert alert-primary small-font " role="alert">
                <i class="fa fa-icon fa-info-circle"></i>&nbsp;Nous n'évoquerons pas ces fonctionnalités relativement avancées. La documentation est disponible <a href="https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#flexible-layouts-beyond-mere-fragment-insertion" target="_blank">ici</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


<script src="js/impress.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/highlight.min.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/script.js"></script>

